  @media screen and (max-width: 576px) {
  
      .box{
        display: none;
    }
      .humbergar{
        display: block;
    }
      .banner{
      max-width: 80%;
        flex-direction: column;
        margin: auto;
        
    }
      .banner-content{
      max-width: 85%;
    }
      .banner-button{
        max-width: 100%;
        display: flex;
      }
      .banner-h{
        font-size: 2.25rem;
        font-weight: 900;
        
    }
    .club{
        display: none;
    }
    .banner-btn, .banner-btn-2{
        padding: 10px 25px;

    }
    .banner-img{
      width: 80%;
      margin: 0px ;
    }
   
    .img-d{
        top: 10%;
        left: 55%;
    }
    .img-d-2{
        top: 45%;
        left: 5%;
        padding: 5px 10px;

    }
    .main-h{
      font-size: 2rem;
      font-weight: 900;
    }
    .main-img{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      max-width: 57%;
    }
    .main-2{
      flex-direction: column;
      margin: 20px;
    }
    .img-run{
      margin: 30px 0px 0px;
      max-width: 100%;
    }
    
    .bmi-cal, .d-flex, .f-flex{
      flex-direction: column;
      
    }
    .bmi-cal{
      /* margin: 50px 0px; */
    }

    .main-h3{
      font-size: 2rem;
      font-weight: 900;
    }
    .box-h3, .box-h4{
      font-size: 1rem;
      font-weight: 900;
      margin: 30px 0px;
    }
    .input{
      padding: 8px;
      margin: 6px;

    }
    .father{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .btn-1{
      padding: 0px;
    }
    .f-flex{
      gap: 40px;
    }
  }