@media screen and (max-width:800px) {
  .box{
    gap: 10px;
  }
  .banner{
    flex-direction: column;
    
  }
  .banner-content{
    max-width: 80%;
    margin: 40px auto;
    
  }
  .banner-img{
    width: 100%;
    margin-left: 100px;
  }
  .img-d{
    top: 12%;
    left: 28%;
}
.img-d-2{
    top: 55%;
    left: -3%;
    padding: 5px 10px;

}
    
}









@media screen and (max-width: 576px) {
  
    .box{
        display: none;
    }
    .humbergar{
        display: block;
    }
    .banner{
        flex-direction: column;
        
    }
    .banner-h{
        font-size: 2.25rem;
        font-weight: 900;
        
    }
    .club{
        display: none;
    }
    .banner-btn, .banner-btn-2{
        padding: 10px 25px;

    }
    .banner-img{
        width: 100%;
        margin: auto;
      }
    .img-d{
        top: 10%;
        left: 50%;
    }
    .img-d-2{
        top: 45%;
        left: 5%;
        padding: 5px 10px;

    }
  
}